workload:
  enabled: true
  replicaCount: 1

image:
  repository: prom/prometheus
  tag: latest

containerPorts:
  - name: http
    containerPort: 9090

service:
  enabled: true
  ports:
    - name: http
      port: 9090

additionalConfigMaps:
  - name: prometheus-config
    annotations: {}
    labels: {}
    data:
      prometheus.yml: |
        global:
          scrape_interval: 15s
          evaluation_interval: 15s
        scrape_configs:
          - job_name: prometheus
            static_configs:
              - targets: ['localhost:9090']
          - job_name: nakama
            metrics_path: /
            static_configs:
              - targets: ['nakama:9100']

volumeMounts:
  - name: prometheus-config
    mountPath: /etc/prometheus

volumes:
  - name: prometheus-config
    configMap:
      name: prometheus-config

args:
  - --config.file=/etc/prometheus/prometheus.yml
